<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>eSEVA</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/problemlist/js/rs-plugin/css/settings.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/problemlist/css/isotope.css" media="screen">
  <link rel="stylesheet" href="/problemlist/css/flexslider.css" type="text/css">
  <link rel="stylesheet" href="/problemlist/js/fancybox/jquery.fancybox.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/problemlist/css/bootstrap.css">
  <link rel="stylesheet"
    href="/problemlist/https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700">
  <link rel="stylesheet" href="/problemlist/css/style.css">
  <link rel="stylesheet" href="/problemlist/skin/default.css">
  <link rel="stylesheet"
    href="/problemlist/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



</head>

<body>
  <section id="header" class="appear"></section>
  <div class="navbar navbar-fixed-top" role="navigation"
    data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);"
    data-300="line-height:60px; height:60px; background-color:rgba(5, 42, 62, 1);">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="fa fa-bars color-white"></span>
        </button>
        <div class="navbar-logo">
          <a href="index.html"><img data-0="width:155px;" data-300=" width:120px;" src="/problemlist/img/new_logo.png"
              alt=""></a>
        </div>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
          <li><a href="#">Profile</a></li>
          <li><a href="#">All Problems</a></li>
          <li><a href="#">Your Problems</a></li>
          <li><a href="#">Upvoted Problems</a></li>
          <li><a href="#">MLA List</a></li>

        </ul>
      </div>
    </div>
  </div>

  <br><br><br><br><br>
  <div class="container">

    <div class="row">

      <div class="col-lg-8">

        <h1 class="mt-4">#<%= problem.problem_id.substring(problem.problem_id.length - 4, problem.problem_id.length)%>:
          <%= problem.problem_title %></h1>
        <p class="lead">
          by
          <a href="#"><%= problem.author_id.first_name %> <%= problem.author_id.last_name %></a>
        </p>
        <p class="lead">
          Category
          <a href="#"><%= problem.category %></a>
          Region
          <a href="#"><%= problem.region %></a>
        </p>


        <hr>
        <p>Posted on <%= date %></p>

        <img class="img-fluid rounded" src="q.jpeg" alt="">

        <p><%= problem.problem_desc %></p>

        <hr>

        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="submit" class="btn btn-primary">UpVote</button>

            </form>
          </div>
        </div>

        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="./img/Profile-icon.jpg" height="50px" alt="not found">
          <div class="media-body">
            <h5 class="mt-0">Sw@tiS</h5>
            This is so true,I have faced this problem so many times. I often used to take my mother to hospital but even
            after waiting in 4-5 hours long queue,we could not get an oppointment.

          </div>
        </div>

        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="./img/Profile-icon.jpg" height="50px" alt="not found">
          <div class="media-body">
            <h5 class="mt-0">RAjivV</h5>
            The problem is very prominent in major government hospitals.

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="./img/Profile-icon.jpg" height="50px" alt="not found">
              <div class="media-body">
                <h5 class="mt-0">FazidK</h5>
                I have a particular bad example with AIIMS.I am not from Delhi and I got an oppointment after 10 days.
                Wonder About Treatment?
              </div>
            </div>

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="./img/Profile-icon.jpg" height="50px" alt="not found">
              <div class="media-body">
                <h5 class="mt-0">V@vvfj</h5>
                This is ridicular,We want a fast and effective solution to this problem.We can't keeep the unhealthy
                India waiting for so long.
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="col-md-4">
        <div class="icon-bar">
          <a class="<% if (['Posted', 'Acknowledged', 'Work in Progress', 'Work Done', 'Closed'].includes(problem.status_code)) { %> active <% } %>"
            href="#" data-toggle="tooltip" data-placement="left" title="Problem Submitted On 2/01/2019"><i
              class="fa fa-plus-square"></i></a>
          <a class="<% if (['Acknowledged', 'Work in Progress', 'Work Done', 'Closed'].includes(problem.status_code)) { %>active<% } %>"
            href="#" data-toggle="tooltip" data-placement="left" title="Problem Acknowledged On 4/01/2019"><i
              class="fa fa-eye"></i></a>
          <a class="<% if (['Work in Progress', 'Work Done', 'Closed'].includes(problem.status_code)) { %>active<% } %>"
            href="#" data-toggle="tooltip" data-placement="left" title="Work In Progress. Started: 8/01/2019"><i
              class="fa fa-clock-o"></i></a>
          <a class="<% if (['Work Done', 'Closed'].includes(problem.status_code)) { %>active<% } %>" href="#"
            data-toggle="tooltip" data-placement="left" title="Waiting for Status Update"><i
              class="fa fa-check"></i></a>
          <a class="<% if (['Closed'].includes(problem.status_code)) { %>active<% } %>" href="#" data-toggle="tooltip"
            data-placement="left" title="Work Completed"><i class="fa fa-trophy"></i></a>

        </div>

      </div>

    </div>

  </div>

  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
  </footer>

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <section id="footer" class="section footer">
    <div class="container">
      <div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
        <div class="col-sm-12 align-center">
          <ul class="social-network social-circle">
            <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row align-center mar-bot20">
        <ul class="footer-menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Privacy policy</a></li>
          <li><a href="#">Get in touch</a></li>
        </ul>
      </div>

      <div class="credits">

        Designed by <a href="https://bootstrapmade.com/">BootstrapMade.com</a>
      </div>
    </div>

  </section>
  <a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>

  <script src="/problemlist/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  <script src="/problemlist/js/jquery.js"></script>
  <script src="/problemlist/js/jquery.easing.1.3.js"></script>
  <script src="/problemlist/js/bootstrap.min.js"></script>
  <script src="/problemlist/js/jquery.isotope.min.js"></script>
  <script src="/problemlist/js/jquery.nicescroll.min.js"></script>
  <script src="/problemlist/js/fancybox/jquery.fancybox.pack.js"></script>
  <script src="/problemlist/js/skrollr.min.js"></script>
  <script src="/problemlist/js/jquery.scrollTo.min.js"></script>
  <script src="/problemlist/js/jquery.localScroll.min.js"></script>
  <script src="/problemlist/js/stellar.js"></script>
  <script src="/problemlist/js/jquery.appear.js"></script>
  <script src="/problemlist/js/jquery.flexslider-min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="/problemlist/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/problemlist/js/main.js"></script>


</body>

</html>